body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.add-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 1px solid #ccc;
    z-index: 9;
    background-color: #fff;
    max-width: 300px;
    padding: 20px;
}

.form-container {
    max-width: 100%;
    padding: 10px;
}

.form-container input[type=text],
.form-container input[type=number] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
}

.cancel {
    background-color: #dc3545;
}

.cancel,
.add-btn {
    float: right;
}


.tt {
    background-color: #007bff;
    color: #fff;
    margin-top: 2px;
    text-align: center;
    width: 40px;
}
